*.*
!.gitignore
!.gitkeep
!*.toml
!*.yml
!*.yaml
!*.html
!*.md
!*.sh
!*.bib
!*.css
!*.js
!*.js.map
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.svg
!*.pdf
!*.zip
!*.xml
!*.txt
!*.ico
!*.graffle
!*.json
public/**
!LICENSE
