	</div>
		{{- partial "pagination" . -}}
		<footer class="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
			<div class="container container-inner">
				<p class="footer__copyright"><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> &copy; {{ now.Format "2006" }} {{ .Site.Params.logotitle }}. Based on <a href="//wordpress.org/themes/mh-magazine-lite/" rel="nofollow noopener noreferrer">MH Magazine lite</a>.
				</p>
				<p class="footer__links"><a href="/sitemap">Sitemap</a> | <a href="/imprint">Imprint</a></p>
			</div>
		</footer>
	</div><!-- .mh-container-outer -->

<script>
	var navigation = responsiveNav(".menu", {
		navClass: "menu--collapse",
	});
</script>
</body>
</html>