{{- if .Get "align" -}}
<div style="text-align: {{- .Get "align" -}}">
{{- end -}}
{{- if .Get "link" -}}
<a href="{{- .Get "link" -}}">
{{- end -}}
<img src="{{- .Get "src" -}}" alt="{{ if .Get "alt" }}{{- .Get "alt" -}}{{- else -}}{{- index (last 1 (split (.Get "src") "/")) 0 -}}{{ end }}" {{ if or (.Get "width") (.Get "height") (.Get "padding") (.Get "align")}}style="max-width: {{ .Get "width" | default "auto" }}; max-height: {{ .Get "height" | default "auto"}}; {{ if .Get "padding" }}padding-right: {{ .Get "padding" -}};padding-left: {{ .Get "padding" -}};{{ end }}margin-bottom: 2em;"{{- end -}}/>
{{- if .Get "link" -}}
</a>
{{- end -}}
{{- if .Get "align" -}}
</div>
{{- end -}}
