<p>
    <form class="publicationform" method="get">
        <label for="search">Search by title / series / publisher / editor / author: </label> <input type="text" name="search" id="search" />
        <input type="radio" id="and" name="mode" value="and" checked /><label for="and">AND</label> <input type="radio" id="or" value="or" name="mode" /><label for="or">OR</label><br/>
        <label>Show </label>
        <input type="radio" id="all" name="show" value="all" checked /><label for="thesis">all publications</label>,
        <input type="radio" id="thesis" name="show" value="thesis"  /><label for="thesis">theses</label>,
        <input type="radio" id="paper-conference" value="paper-conference" name="show" /><label for="paper-conference">conference papers</label>,
        <input type="radio" id="book" value="book" name="show" /><label for="book">books</label>,
        <input type="radio" id="chapter" value="chapter" name="show" /><label for="chapter">book chapters</label>,
        <input type="radio" id="article-journal" value="article-journal" name="show" /><label for="article-journal">journal articles</label><br/>
        BibTeX export:
        <a class="link" id="giveall" title="copy shown publications to clipboard" >&#128203;&nbsp; shown publications</a> | 
        <a class="link" href="/references.bib" title="download all publications">&#128190;&nbsp; all publications</a>
    </form>
</p>
<br/>

<ol id="publication"></ol>