{{ if .IsNamedParams }}
	{{ if .Get "font-size" }}
	<div style="font-size: {{ .Get "font-size" }};">
	{{ end }}
	{{ range where $.Site.Data.references "id" (.Get "id") }}
		{{ if lt .author 3 }}
			[<a name="{{- .id | plainify -}}" href="/publications/#publication-{{- .id | plainify -}}">&#x1f4d6;&nbsp;{{- delimit (apply (apply .author "partial" "refauthor" ".") "chomp" ".") ", " }}
				{{- if (isset . "issued") | and (not (eq .issued "")) }}
		                ({{ index .issued "date-parts" 0 0 }})
		        {{- end -}}
		        {{- with $.Params.pages }}{{ if or (in . "-") (in . ",") }}, pp. {{.}}{{ else }}, p. {{.}}{{ end }}{{ end -}}
			</a>]
		{{ else }}
			[<a name="{{- .id | plainify -}}" href="/publications/#publication-{{- .id | plainify -}}">&#x1f4d6;&nbsp;{{- index (apply .author "partial" "refauthor" ".") 0 -}}<em>, et al.</em>
					{{- if (isset . "issued") | and (not (eq .issued "")) }}
		                ({{ index .issued "date-parts" 0 0 }})
		            {{- end -}}
		            {{- with $.Params.pages }}{{ if or (in . "-") (in . ",") }}, pp. {{.}}{{ else }}, p. {{.}}{{ end }}{{ end -}}
			</a>]
		{{ end }}
	{{ end }}
	{{ if .Get "font-size" }}
	</div>
	{{ end }}
{{ end }}